<%- layout('layouts/main') %>
<br>
<!--div class="row mb-10">
  <div class="col-md-8 mx-auto text-center ">
    <h1> <font face = ""> Agregar medicina al inventario</font> </h1>
  </div>
</div-->

<!--Formulario-->
<div class="row mb-5">
    <div class="col-md-4 offset-md-4">
      <div class="card text-white bg-dark mt-4 text-center">
        <div class="card-header ">
          <h4>Agregar ensambles al inventario</h4>
        </div>
        <div class="card-body">
            <form action="/agregar-ensambles" method="POST">
                <div class="form-group mb-3">
                  <input type="text" name="Marca" placeholder="marca" class="form-control">
                </div> 
                <div class="form-group mb-3">
                  <input type="text" name="Modelo" placeholder="modelo" class="form-control">
                </div> 
                <div class="form-group mb-3">
                  <input type="text" name="Talla" placeholder="talla" class="form-control">
                </div> 
                <div class="form-group mb-3">
                  <input type="text" name="Color" placeholder="color" class="form-control">
                </div> 
                <div class="form-group mb-3">
                  <input type="text" name="Precio" placeholder="precio" class="form-control">
                </div> 
                <div class="form-group mb-3">
                  <input type="text" name="Cantidad" placeholder="cantidad" class="form-control">
              </div> 
                <div class="form-group mb-3 d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>                                           
            </form>
        </div>
      </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

